	<table width="926" height="100" align="center" border="1px solid white" bordercolor="#000000" cellpadding="0" cellspacing="0" style="text-align:center;">
		
		<tr> 
			
			<%= render :partial => 'list_headers' %>
		
		</tr>
		
		<% @lists.each do |list| %>
			
			<tr>
				
				<%= render :partial => 'list', :locals => {:m => list} %>
			
			<% end %>
		
		</tr>
	
	</table>
